/* Medium Zoom styling */

.medium-zoom-overlay {
    z-index: 30;
}
.medium-zoom-image--opened {
    z-index: 31;
}

/* VitePress Valence Theme Utilities */
:root:not(.dark) .vpv-dark-only {
  display: none;
}
:root:is(.dark) .vpv-light-only {
  display: none;
}

/* Card Base Styles */
@mixin vpv-card-base {
  background-color: var(--vp-c-bg);
  overflow: hidden;
  border-radius: 16px;
  border: 2px solid var(--vp-c-divider);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
@mixin vpv-card-base-hover {
  border-color: var(--vp-c-border);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
//   transform: translateY(-2px);
}
.vpv-card-base {
  @include vpv-card-base;
}
.vpv-card-base:hover {
  @include vpv-card-base-hover;
}

/* Card Container Styles */
.vpv-cards-container {
  display: flex;
  margin: 16px auto;
  padding: 10px;
  border-radius: 18px;
  border: 2px solid var(--vp-c-divider);
  background-color: var(--vp-c-bg-soft);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.05);
}

// .cards-container {  # Horizontal Container
//   flex-direction: column;
//   gap: 0.2rem;
// }

// .cards-container { # Vertical Container
//   flex-wrap: wrap;
//   gap: 1.5rem;
//   justify-content: center;
// }